# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# Environment files
.env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Other
*.log